<%- include('header') %>

<div class="mdui-container-fluid">
  <div
    class="mdui-container mdui-center hsoj-default-margin"
  >
        <div class="mdui-card hsoj-problem-list">
          <ul class="mdui-list">
            <% for(i in problems) { %>
            <li class="mdui-list-item mdui-ripple">
				<a href="/problem/<%= problems[i].id %>">
              <i class="mdui-list-item-icon mdui-icon material-icons">check</i>
                <%= problems[i].title %>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
  </div>

  <%- include('footer') %>
</div>