.mdui-container {
  /* max-width: 100vh; */
}


/* login dialog */
.hsoj-login-dialog {
  max-width: 448px;
  overflow-y: auto;
}
.hsoj-login-dialog .arrow_back,
.hsoj-login-dialog .close {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  color: #fff;
}
.hsoj-login-dialog .avatar {
  position: absolute;
  top: 40px;
  left: 36px;
  display: block;
  color: hsla(0, 0%, 100%, 0.56);
  font-size: 76px;
}
.hsoj-login-dialog .mdui-dialog-title {
  margin-bottom: 24px;
  padding: 146px 40px 28px;
  color: #fff;
}
.mdui-theme-layout-dark .hsoj-login-dialog .mdui-dialog-title {
  background-color: #303030;
}
.hsoj-login-dialog .hsoj-dialog-form {
  padding: 0 40px 62px;
}
.hsoj-login-dialog .more-option {
  margin-left: -16px;
}
.hsoj-login-dialog .captcha-field {
  margin-right: 116px;
  overflow: visible;
}
.hsoj-login-dialog .captcha-image {
  position: absolute;
  right: -116px;
  bottom: 29px;
  cursor: pointer;
}
.hsoj-login-dialog .send-email-field {
  margin-right: 116px;
  overflow: visible;
}
.hsoj-login-dialog .send-email {
  position: absolute;
  right: -116px;
  bottom: 29px;
}
.hsoj-login-dialog .actions {
  margin-top: 24px;
}
.hsoj-login-dialog .action-btn {
  float: right;
}
.mdui-theme-layout-dark .hsoj-login-dialog .action-btn {
  background-color: #525252 !important;
}
@media (max-width: 599.9px) {
  .hsoj-login-dialog {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    max-height: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
  .hsoj-login-dialog .back,
  .hsoj-login-dialog .close {
    top: 10px;
    left: 8px;
  }
  .hsoj-login-dialog .avatar {
    display: none;
  }
  .hsoj-login-dialog .mdui-dialog-title {
    padding: 10px 16px 10px 52px;
    line-height: 36px;
  }
  .hsoj-login-dialog .hsoj-dialog-form {
    padding: 0 24px 24px;
  }
  .hsoj-login-dialog .hsoj-dialog-form .mdui-textfield {
    padding-top: 4px;
  }
  .hsoj-login-dialog .actions {
    margin-top: 14px;
  }
}

/* problem list */
.hsoj-problem-list .mdui-card {
  width: 100vh;
}

.hsoj-default-margin {
  margin: 2em;
}

/* avatar */

.hsoj-avatar {
  width: 32px;
  height: 32px;
  /* border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 8px; */
}

.avatar .popover {
  width: 330px;
  height: 192px;
  margin-top: 2em;
}

.avatar .popover {
  width: 330px;
  height: 192px;
  padding: 0;
}
.avatar .popover .bottom,
.avatar .popover .info {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}
.avatar .popover .info {
  top: 0;
  left: 0;
  height: 139px;
  padding: 22px 20px;
}
.avatar .popover .bottom {
  bottom: 0;
  left:80;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdui-theme-layout-dark .avatar .popover .bottom {
  background-color: #424242;
  border-top-color: hsla(0, 0%, 100%, 0.12);
}
.avatar .popover .bottom button {
  min-width: 46px;
}
.avatar .popover .avatar-box {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.avatar .popover .email,
.avatar .popover .username {
  margin-left: 112px;
  line-height: 20px;
}
.avatar .popover .username {
  font-weight: 700;
  font-size: 14px;
}
.avatar .popover .email {
  font-size: 13px;
}
.avatar .popover .personal {
  margin-left: 16px;
}

.mdui-card .hsoj-testcase{
  width: 7em;
  height: 7em;
}

.hsoj-testcase .mdui-color-green{
  color: white !important;
}

.hsoj-index-headline strong {
  color: #03a9f4;
}

.hsoj-index .icon {
	display: block;
	width: 56px;
	height: 56px;
	margin: 0 auto 20px;
}

.hsoj-index svg {
  fill: white;
}